
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link.active {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.brand-name{
    margin-top: 80px;
    position: absolute;
    top: 120px;
    left: 560px;
    color: rgb(228, 3, 3);

}
.signin-form{
   
    background-color: aquamarine;
    height: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 300px;
}
.submit-btn{
    position: relative;
    top: 55px;
    right: 195px;
}
