.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link.active {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.btn-outline-success {
    color: white;
    border-color: #f8fcfa;
}
.top-slider{
    margin-top: 80px !important;
    background-color: brown;
    height: 650px;
    color: white;
    align-items: center !important;
    overflow-y: auto;
}
.slider-three{
    padding-top: 80px;
}

.card{
    background-color: brown;
}

.middle-part{
    color: rgb(223, 217, 217);
}













footer{
        min-height: 550px;
}